{
	"tabWidth": 1,
	"semi": false,
	"arrowParens": "avoid",
	"importOrder": [
		"^(react/(.*)$)|^(react$)",
		"^(next/(.*)$)|^(next$)",
		"<THIRD_PARTY_MODULES>",
		"^[./]*features/(.*)$",
		"^[./]*entities/(.*)$",
		"^[./]*kernel/(.*)$",
		"^[./]*shared/(.*)$",
		"^[./]"
	],
	"importOrderParserPlugins": ["typescript", "jsx", "tsx", "decorators-legacy"],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 100,
	"plugins": ["prettier-plugin-tailwindcss", "@trivago/prettier-plugin-sort-imports"]
}
